:root { 
--gray_700:#5b5b5b; 
--blue_gray_100:#d9d9d9; 
--cyan_A200_19:#00ffe019; 
--blue_gray_600_f2:#5a587bf2; 
--white_A700_0c:#ffffff0c; 
--gray_700_7f:#5b5b5b7f; 
--blue_A200:#6590f6; 
--cyan_A200_33:#00ffe033; 
--blue_50_a8:#d3e7ffa8; 
--white_A700_87:#ffffff87; 
--white_A700_00:#ffffff00; 
--black_900:#000000; 
--white_A700_47:#ffffff47; 
--blue_A200_00:#6590f600; 
--blue_A200_cc:#6590f6cc; 
--orange_A700_d3:#ff6b00d3; 
--blue_gray_100_a5:#d9d9d9a5; 
--gray_500_59:#9ead8459; 
--white_A700:#ffffff; 
}