<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Water Quality Analysis</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <div className="bg-white-A700 flex flex-col font-inter items-center justify-end mx-auto py-[29px] w-full">
        <div className="flex sm:flex-col flex-row md:gap-10 items-center max-w-[1200px] justify-between w-full">
        <Text
                className="md:text-6xl text-5xl text-black-900"
                size="txtInterRegular96"
              >
                <span className="text-black-900 font-inter text-left font-bold">
                  Water
                </span>
                <span className="text-blue-A200 font-inter text-left font-bold">
                  Q
                </span>
                <span className="text-black-900 font-inter text-left font-bold">
                  uality
                </span>
              </Text>

</body>
</html>
